---
---
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>Studio-SilverMoon | About</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

{% include header.html %}
<div class="about-layout">
  <div class="about-text">
    <h1>About</h1>
    <h2>Studio-SilverMoon</h2>
    <h3>— Developer / Creator —<br>Yoshi_J</h3>

    <p>
        理想のゲームを作るため奮闘中
    </p>

  </div>

</div>
<div class="chara-box">
    <img src="assets/Luna_simple.png" class="chara-img">
</div>
{% include footer.html %}

</body>
</html>