---
---
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>Studio-SilverMoon | アメリアと触手エロトラップダンジョン</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
 <div class="page-wrapper">
<!-- ヘッダ -->
{% include header.html %}

<div class="product-container">

  <div class="product-info">
    <h1>アメリアと触手エロトラップダンジョン</h1>

    <h2>あらすじ</h2>
    <p>
      大きく栄えた聖都クレセントでは近隣にできたダンジョンの噂でもちきりであった。  
      派遣した調査隊が誰一人として帰ってこないのである。そんな中、有名な冒険者となった  
      アメリアはダンジョン調査の依頼を受けたのだった。  
      <br><br>
      今回の依頼も難なくこなすと思われたが、しかし色々あってアメリアは奇妙な触手に寄生されてしまった。  
      寄生された影響で弱体化してしまったアメリアは、この先無事に依頼を達成できるのでしょうか……。
    </p>

    <h2>ジャンル</h2>
    <p>ローグライクエロRPG</p>

    <h2>システム</h2>
    <p>ターン制ローグライク</p>

    <h2 class="store-title">
      ストア
      <span class="store-note">※リンク先はR18サイトです</span>
    </h2>
    <div class="store-links">
      <div class="store-card">
        <iframe src="https://store.steampowered.com/widget/3192310/" frameborder="0" width="646" height="190"></iframe>
      </div>
        <a rel="noopener sponsored" href="https://dlaf.jp/maniax/dlaf/=/t/n/link/work/aid/abac1/id/RJ01117269.html" target="_blank"class="store-card card-noimage">
          Dlsite</a>
        <a href="https://www.dmm.co.jp/dc/doujin/-/detail/=/cid=d_317748/" target="_blank" class="store-card card-noimage">
          FANZA</a>
    </div>
  </div>

</div>
  <div class="product-visual">
    <img src="./assets/art/art1.png" alt="アメリア立ち絵">
  </div>
  <!-- フッタ -->
  {% include footer.html %}
</div>
</body>
</html>