---
---
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>Studio-SilverMoon | Art</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<!-- ヘッダ -->
{% include header.html %}

<main class="art-main">
<h1 class="art-title">Gallery</h1>
<div class="art-grid">
  <!-- サムネ追加はここに挿すだけ -->
  <img src="./assets/art/art1.png" class="art-thumb top-face">
  <img src="./assets/art/art2.png" class="art-thumb top-face">
  <img src="./assets/art/art3.png" class="art-thumb top-face">
  <img src="./assets/art/art4.png" class="art-thumb top-face">
  <img src="./assets/art/art5.png" class="art-thumb top-face">
  <img src="./assets/art/art6.png" class="art-thumb">
</div>
</main>

<!-- フルスクリーン表示用 -->
<div id="viewer" class="viewer hidden">
  <img id="viewer-img">
</div>

  <!-- フッタ -->
  {% include footer.html %}
<script src="./js/art_viewer.js"></script>
</body>

</html>