---
---
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>Studio-SilverMoon | About</title>
<link rel="stylesheet" href="style.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V01THZ7010"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V01THZ7010');
</script>

<body>

  <!-- ヘッダ -->
  {% include header.html %}

  <!-- ページ固有コンテンツ -->
  <div class="content">
    <h1>準備中</h1>
    <p>構想中</p>
  </div>

  <!-- フッタ -->
  {% include footer.html %}

</body>
</html>