---
---
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<meta name="description" content="Studio-SilverMoonの公式サイト。ローグライクRPG、触手、催眠、悪落ちなどの作品を開発。">
<meta property="og:title" content="Studio-SilverMoon">
<meta property="og:description" content="個人ゲーム開発スタジオ Studio-SilverMoon">
<meta property="og:image" content="/assets/og_image.png">
<meta property="og:type" content="website">
<meta property="og:url" content="https://ドメイン/">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="/assets/og_image.png">
<link rel="icon" href="/assets/favicon.ico">
<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
<title>Studio-SilverMoon</title>
<link rel="stylesheet" href="./style.css">
</head>
<script src="./js/circletext_draw.js"></script>
<body class="top-page">
  <!--ヘッダ-->
  {% include header.html %}

  <main>
    <!-- 中央ロゴ（固定） -->
    <div class="logo-box">
      <img src="assets/サークルロゴ_月_透過.png" class="moon-img">
      <img src="assets/サークルロゴ_浸食_透過.png" class="fog-img">
    </div>

    <div class="circle-text">
      <span>I</span>
      <span>n</span>
      <span>d</span>
      <span>i</span>
      <span>e</span>
      <span> </span>
      <span>E</span>
      <span>r</span>
      <span>o</span>
      <span> </span>
      <span>G</span>
      <span>a</span>
      <span>m</span>
      <span>e</span>
      <span> </span>
      <span>D</span>
      <span>e</span>
      <span>v</span>
      <span>e</span>
      <span>l</span>
      <span>o</span>
      <span>p</span>
      <span>e</span>
      <span>r</span>
    </div>
  
     <!-- キャラ立ち絵 -->
    <div class="chara-box">
    <img src="assets/Luna_simple.png" class="chara-img">
    </div>
    <section class="info">
      <h2 class="info-title">Information</h2>
    
      <div class="info-item">
        <span class="info-date">2026/XX/XX</span>
        <span class="info-text">アメリアと触手エロトラップダンジョン DLC鋭意制作中</span>
      </div>

      <div class="info-item">
        <span class="info-date">2025/11/21</span>
        <span class="info-text">公式サイト公開</span>
      </div>

      <div class="info-item">
        <span class="info-date">2025/11/14</span>
        <span class="info-text">アメリアと触手エロトラップダンジョン Steam版リリース</span>
      </div>

      <div class="info-item">
        <span class="info-date">2024/05/31</span>
        <span class="info-text">アメリアと触手エロトラップダンジョン 発売</span>
      </div>

    </section>

    <div class="fog-layer"></div>
    <!--<div class="draw-line"></div>-->
  </main>

  <!--フッダ-->
  {% include footer.html %} 
</body>
</html>