<footer class="footer">
  <div class="footer-inner">

    <div class="footer-left">
      <p>© 2025 Studio SilverMoon. All Rights Reserved.</p>
    </div>

    <div class="footer-right">
      <a href="https://x.com/ginnodangan18" target="_blank" class="sns-icon">
        <img src="assets/logo-black" alt="Twitter">
      </a>
      <a href="https://www.pixiv.net/users/59905327" target="_blank" class="sns-icon">
        <img src="assets/logo_icon_r" alt="pixiv">
      </a>
      <a href="https://ci-en.dlsite.com/creator/10954" target="_blank" class="sns-icon cien-icon">
        <img src="assets/logo_cien_web" alt="Ci-en">
      </a>
    </div>

  </div>
</footer>